*, *::after, *::before {
    box-sizing: border-box;
}

.photo-card-container {
    width: 100%;
}

.photo-context {
    position: relative;
    width: inherit;
    height: 250px;
    margin-bottom: 5px;
}
.photo-context:hover .photo-name {
    opacity: 1;
}

.photo-image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-name {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    margin: 0;
    padding: 10px 15px;
    font-size: var(--h6);
    color: var(--black-5);
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%,  rgba(0, 0, 0, 0) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0 8px;
}

.tag {
    background-color: #10244F;
    font-size: 12px;
    font-weight: 600;
    color: var(--black-5);
    border-radius: 33px;
    padding: 5px 10px;
    user-select: none;
}