@keyframes infiniteVerticalScroll {
    to {
        bottom: -250px;
    }
}

*, *::after, *::before {
    box-sizing: border-box;
}

.shadow {
    position: absolute;    
    inset: 0;
    background: linear-gradient(#08254B, rgba(125, 136, 149, 0.2) 3%, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0) 94%, rgba(125, 136, 149, 0.5) 95%, #08254B 100%);    
    z-index: 2;
    pointer-events: none;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 850px;
    background: radial-gradient(circle, #01041F, #061932 21%, #072142 52%, #041A2D) center;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.testimonials {
    overflow: hidden;
    position: relative;
    width: 918px;
    height: 572px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0)
    )
}

.column {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33.33%;
    height: 100%;
}

.testimonial-card {
    position: absolute;
    bottom: 100%;
    animation: infiniteVerticalScroll 10s infinite linear;    
}

.testimonials:hover * {
    animation-play-state: paused;
}

.heading {
    font-size: 64px;
    color: var(--black-5);
    margin: 0;
}