* , *::after, *::before {
    box-sizing: border-box;
}

.photography-stages-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 962px;
    background-color: var(--black);
    padding: 0px 105px 64px;
}

.heading {
    font-size: var(--h2);
    color: var(--black-5);
    font-weight: 700;
    text-align: center;
    margin: 45px 0;
}

.photography-stage {
    display: flex;
    position: relative;
    width: 100%;
    height: 720px;
    border-radius: 47px;
    overflow: hidden;
}

.imageNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: transparent;
    border: 6px solid var(--black-5);
    color: var(--black-5);
    font-size: var(--h5);
    font-weight: bold;
    margin: 21px;
}

.stage-image {    
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    border-radius: 47px;    
    transition: 0.7s;
}
.image {
    width: 100%;
    height: 100%;
    transition: 0.7s;
    object-fit: cover;
    pointer-events: none;
    border-radius: 47px;
}

.slide-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);    
    background-color: transparent;
    border: none;
    margin-right: 23px;
}
.slide-right:hover {
    cursor: pointer;
}

.stage-description {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    align-self: end;
    min-width: 330px;
    min-height: 77px;
    background-color: rgba(148, 148, 148, 0.5);
    backdrop-filter: blur(2px);
    border: 2px solid var(--black-10);
    border-radius: 100px; 
    color: var(--black-5);
    font-size: var(--h5);
    font-weight: 600;
    margin-bottom: 23px;
    padding: 15px;
}

.shrink {    
    flex: 0 0 110px;
    height: calc(100% - 20px);
    background: rgba(42, 45, 52, 0.4);
    backdrop-filter: blur(6px);
    margin: 10px;
    z-index: 1;
    cursor: pointer;
    border: 3px solid var(--black-50);
}

.hidden {
    visibility: hidden;
}

.fade-out {
    opacity: 0.1;
}