*, *::after, *::before {
    box-sizing: border-box;
}

.about-page-container {
    width: 100%;
    height: calc(100vh - var(--nav-height));
    display: flex;
}

.info-container {
    flex: 6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 62px 54px;
}

.logo {
    flex: 9;
}

.info-sections {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 1s ease;
    color: var(--primary);
    font-size: 22px;
    overflow: auto;
}

.info-header {
    font-size: var(--h2);
    margin-top: 0;
}

.button {
    height: 65px;
    margin: 10px 15px;
    background-color: var(--primary);
    border: none;
    border-radius: 12px;
    color: var(--black-5);
    cursor: pointer;
    user-select: none;
}

.logo {
    position: relative;
    overflow: hidden;     
    background: url('../../../src/assets/images/logo.png') right 20% top 50% / 80% auto no-repeat;    
}
.logo::before {
    position: absolute;
    width: 175vh;
    height: 175vh;
    top: -30vh;
    left: 0;
    background-color: var(--nav-color);
    border-radius: 50%;
    content: '';
    z-index: -1;
}